<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<div class="row">
  <div class="col-md-4 offset-md-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<h4 align="center"><%= @user.username%>'s articles</h4>
<div align="center" class="row col-sm-6 offset-sm-5">
  <%= will_paginate @user_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div align="center" class="row col-sm-6 offset-sm-5">
  <%= will_paginate @user_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</div>
