<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <%= link_to 'alpha blog', root_path, class:"navbar-brand", id:'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "articles", articles_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "users", users_path, class: "nav-link" %>
      </li>
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            actions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a><%= link_to "new article", new_article_path, class: "dropdown-item" %></a>
            <a class="dropdown-item" href="#">remove all</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">secret action</a>
          </div>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "All categories", categories_path, class: "dropdown-item" %>
          <% Category.all.each do |category| %>
            <%= link_to "#{category.name}", category_path(category), class: "dropdown-item" %>
          <% end %>
          <% if logged_in? and current_user.admin? %>
            <div class="dropdown-divider"></div>
            <%= link_to "Create New Category", new_category_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your profile <%= 'Admin' if current_user.admin? %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
            <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", signup_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
